* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #250821;
}
.blob {
  width: 500px;
  height: 500px;
  position: absolute;
}
