* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
  width: clamp(220px, 55%, 300px);
}

html {
  scroll-behavior: smooth;
}

.top,
.bottom {
  height: 100vh;
}
