* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top,
.middle,
.bottom {
  height: 60px;
  width: 360px;
}
.top {
  background-color: #ff9933;
}

.middle {
  background-color: white;
  display: flex;
  justify-content: center;
}
.bottom {
  background-color: green;
}

.wheel {
  border-radius: 50%;
  outline: 1px solid darkblue;
  height: 60px;
  width: 60px;
  position: relative;
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: darkblue;
  left: 50%;
}

.line:nth-child(1) {
  transform: rotate(15deg);
}
.line:nth-child(2) {
  transform: rotate(30deg);
}
.line:nth-child(3) {
  transform: rotate(45deg);
}
